body {
	background-color:#FFFFFF;
	margin:0;
	padding:0;
	border:none;
	font: 12px/1.5 Arial;
	text-align:center;
}

input {
	font: 12px/1.5 Arial;
}

button {
	font: 12px/1.5 Arial;
}

select {
	font: 12px/1.5 Arial;
}

td {
	font: 12px/1.5 Arial;
}

img {
	border-width:0px;
}

a {
	text-decoration: none;
}

fieldset {
	box-shadow: 5px 5px 5px #BBBBBB;
	border: solid 1px #BBBBBB;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

legend {
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.loading {
	margin-right: 0px;
	position:fixed;
	background-color:yellow;
	top:0;
	display:none;
}

.prumoFilter {
	padding: 8px;
	margin:auto;
}

.prumoFormTable {
	margin:auto;
	border: 0px;
	width:100%;
}

.prumoFormLabel {
	text-align: right;
	border: 0px;
	width:40%;
}

.prumoFormFields {
	border: 0px;
	width:60%;
	white-space: nowrap;
	display: inline;
}

.prumoGridTable {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width:97%;
}

.prumoReportTable {
	border-collapse: collapse;
	padding: 10px;
}

.prumoReportTable th, .prumoReportTable td{
	padding: 3px;
}

.prumoReportHead {
	border-style: double none double none;
}

.prumoReportThHeader {
      font-weight: normal;
   }

.prumoReportTdIdent {
	padding-left: 25px;
}

.prumoGridTh {
	border: 1px solid #FFFFFF;
	background-color: #BEE09D;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	cursor:pointer;
}

table .prumoGridTh .sortAsc {
	background-image: url(../../images/sort_asc.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
}

table .prumoGridTh .sortDesc {
	background-image: url(../../images/sort_desc.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px; 
}

table .prumoGridTh {
	background-image:url(../../images/sort_both.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
}

.prumoGridTd {
	border: 1px solid #FFFFFF;
	font: 12px/1.5 Arial;
}

.prumoGridTrEven {
	height: 30px;
	background-color: #FFFFFF;
}

.prumoGridTrOdd {
	height: 30px;
	background-color: #E5EDDD;
}

.prumoGridTrSelected {
	height: 30px;
	background-color: #FFCC99;
}

.prumoGridNavigation {
	text-align: center;
}

.topo {
	border:0px;
	padding: 30px;
	height: 100px;
	text-align: right;
	background-image: url('prumo/themes/coguvale/fundo_topo.jpg');
}

.prumoHeader {
	border-bottom:1px solid #888888;
	text-align:center;
	box-shadow: 0px 0px 6px #888888;
	
	background: #c1cdcd; /* Old browsers */
	background: -webkit-linear-gradient(top,  #c1cdcd 0%,#8da0a0 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #c1cdcd 0%,#8da0a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c1cdcd 0%,#8da0a0 100%); /* W3C */
}

.prumoHeaderLeft {
	float:left;
	margin-left:10px;
	width:100px;
	text-align:left;
	margin-top:3px;	
	color: #000000;
	text-shadow:1px 1px 1px #FFFFFF;
}

.prumoHeaderCenter {
	font-size:14pt;
	font-weight: bold;
	color: #000000;
	text-shadow:1px 1px 1px #BBBBBB;
}

.prumoHeaderRight {
	float:right;
	margin-right:10px;
	width:100px;
	text-align:right;
	margin-top:3px;
	color: #000000;
	text-shadow:1px 1px 1px #FFFFFF;
}

.prumoBody {
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	text-align:left;
}

.prumoFullName {
	text-align:center;
	margin-bottom:20px;
}

.prumoMenuArea {
	width:190px;
	float:left;
	margin-bottom:20px;
}

.prumoDesktop {
	text-align:justify;
	margin-left:210px;
}

.prumoFooter {
	clear:both;
	text-align:center;
	border-top:1px solid #AAAAAA;
}

.prumoLogin {
	background: #ffffff;
	width:250px;
	margin-left: auto;
	margin-right: auto;
}

.prumoLoginLegend {
	text-align:left;
}

.prumoLoginFoto {
	width:45%;
	height:100%;
	left:0;
	top:0;
	position:fixed;
	box-shadow: 4px 4px 4px #BBBBBB;
}

.prumoLoginBackground {
	width:55%;
	height:100%;
	left:45%;
	top:0;
	position:fixed;
	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6f0f2 93%,#a7afaf 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6f0f2 93%,#a7afaf 100%); /* W3C */
}

.prumoMenuBox {
	box-shadow: 4px 4px 4px #BBBBBB;
}

.prumoMenu {
	display:block;
	cursor:pointer;
	background-color: #BEE09D;
	text-indent:5px;
}

.prumoMenuL1 {
	cursor:pointer;
	text-indent:5px;
	
	background: #dce8d0; /* Old browsers */
	background: -webkit-linear-gradient(left,  #dce8d0 0%,#ebffe5 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left,  #dce8d0 0%,#ebffe5 100%); /* IE10+ */
	background: linear-gradient(to right,  #dce8d0 0%,#ebffe5 100%); /* W3C */
}

.prumoMenuL1:hover {
	background:rgba(252,255,255,0)
}

.prumoMenuL2 {
	cursor: pointer;
	text-indent:10px;
	
	background: #eef4e9; /* Old browsers */
	background: -webkit-linear-gradient(left,  #eef4e9 0%,#f7fcf2 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left,  #eef4e9 0%,#f7fcf2 100%); /* IE10+ */
	background: linear-gradient(to right,  #eef4e9 0%,#f7fcf2 100%); /* W3C */
}

.prumoMenuL2:hover {
	background:rgba(252,255,255,0)
}

.prumoMenuL3 {
	cursor: pointer;
	text-indent:15px;
	background: #f7fcf2; /* Old browsers */
	background: -webkit-linear-gradient(left,  #f7fcf2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right,  #f7fcf2 0%,#ffffff 100%); /* W3C */
}
.prumoMenuL3:hover {
	background:rgba(252,255,255,0)
}

.prumoMenuL4 {
	cursor: pointer;
	text-indent:20px;
	
	background: #f7fcf2; /* Old browsers */
	background: -webkit-linear-gradient(left,  #f7fcf2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right,  #f7fcf2 0%,#ffffff 100%); /* W3C */
}

.prumoMenuL4:hover {
	background:rgba(252,255,255,0)
}

.prumoMenuL5 {
	cursor: pointer;
	text-indent:25px;	
	background: #f7fcf2; /* Old browsers */
	background: -webkit-linear-gradient(left,  #f7fcf2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right,  #f7fcf2 0%,#ffffff 100%); /* W3C */
}

.prumoMenuL5:hover {
	background:rgba(252,255,255,0)
}

.prumoVeil {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity: 0.3;
	background-color: #000000;
}

.prumoWindow {
	display:none;
	position:absolute;
	width:500px;
	border:1px solid #C1CDCD;
	background-color:#FFFFFF;
	border-style:outset;
	box-shadow: 10px 10px 5px #888888;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.prumoWindowClose {
	float: left;
	width:25px;
	padding:3px;
}

.prumoWindowTitle {
	text-align:left;
	height:25px;
	line-height:25px;
	vertical-align: middle;
	text-shadow: 0px 1px 0px white;
	background: #c1cdcd; /* Old browsers */
	background: -webkit-linear-gradient(top,  #c1cdcd 0%,#8da0a0 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #c1cdcd 0%,#8da0a0 100%); /* W3C */
	border-bottom:1px solid #BBBBBB;
}

.prumoWindowLoading {
	display:none;
	position:absolute;
}

.prumoWindowBody {
	width:100%;
	height:100%;
}
